
# Introducción a Pandas en Python

Pandas es una biblioteca de software escrita como extensión de NumPy para manipulación y análisis de datos para el lenguaje de programación Python. Ofrece estructuras de datos y operaciones para manipular tablas numéricas y series temporales. Es ideal para trabajar con datos estructurados (tablas, multidimensionales, series temporales) de forma rápida, eficiente y fácil.

## Conceptos básicos de Pandas

Pandas introduce dos estructuras de datos fundamentales, `DataFrame` y `Series`, que están diseñadas para manejar la mayoría de los requerimientos típicos de procesamiento y análisis de datos con mínima necesidad de recurrir a sintaxis complejas.

- `Series`: es un arreglo unidimensional que puede almacenar cualquier tipo de datos con etiquetas o índice. Similar a una columna en una tabla.
- `DataFrame`: es una estructura bidimensional similar a una tabla de SQL, hoja de cálculo Excel o una tabla en R, con columnas de diferentes tipos de datos.

### Instalación de Pandas

Para comenzar a trabajar con Pandas, primero necesitas instalarlo. Si ya tienes instalado Python, puedes instalar Pandas utilizando pip:

```
pip install pandas
```

### Ejemplo básico de uso de Pandas

A continuación, se muestra un ejemplo básico de cómo crear un DataFrame y realizar operaciones simples:

In [1]:
import pandas as pd

# Crear un DataFrame
data = {'Nombres': ['Ana', 'Luis', 'Pedro', 'Maria'],
        'Edad': [28, 34, 29, 32],
        'Ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia']}

In [2]:
df = pd.DataFrame(data)

# Mostrar el DataFrame
print(df)

  Nombres  Edad     Ciudad
0     Ana    28     Madrid
1    Luis    34  Barcelona
2   Pedro    29     Madrid
3   Maria    32   Valencia

#### Ejercicio 1: Crear un DataFrame y seleccionar una columna

In [3]:
import pandas as pd

data = {'Nombres': ['Ana', 'Luis', 'Pedro', 'Maria'],
        'Edad': [28, 34, 29, 32],
        'Ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia']}

df = pd.DataFrame(data)

In [4]:
# Seleccionar la columna 'Nombres' y mostrarla
print(df['Nombres'])

0      Ana
1     Luis
2    Pedro
3    Maria
Name: Nombres, dtype: object

#### Ejercicio 2: Filtrar filas en un DataFrame

In [5]:
# Filtrar por edad mayor a 30
print(df[df['Edad'] > 30])

  Nombres  Edad     Ciudad
1    Luis    34  Barcelona
3   Maria    32   Valencia